<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TOWN MARKET</title>
        <link rel="stylesheet" href="/static/style.css">
        
    </head>
    <body class="backgroundimage_index">
        <dev>
            <header style="text-align: center;">
                <br>
                <img src="static/logo.png" alt="TOWN MARKET">
            </header>
            <div>
                <nav style="text-align: center;">
                        <a href="/register"><img src="static/register.png" alt="Register" style="display: inline-block; padding: 120px;"></a>
                        <a href="/explore"><img src="static/explore.png" alt="Explore"style="display: inline-block; padding: 120px;"></a>
                        <a href="/login"><img src="static/login.png" alt="login"style="display: inline-block; padding: 120px;"></a>
                </nav>
            </div>
            <footer>
                <br><br><br><br><br><br>
                <p style="text-align: center; color: white;">
                    copyright &copy;2020-town market
                </p>
            </footer>
        </dev>
    </body>
</html>